{% extends "base.html" %}

{% block title %}Создать пост{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center text-start" style="min-height: 80vh;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
                <div class="text-danger mt-1 small">{{ field.errors|striptags|join:", " }}</div>
            {% endif %}
        {% endfor %}

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <a href="{% url 'home' page_id=1 %}" class="btn btn-outline-light px-4">Отмена</a>
            <button type="submit" class="btn btn-success px-4 fw-semibold">Опубликовать</button>
        </div>
        </form>
</div>
{% endblock %}