{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Лента Новостей</h1>
    <p>Уникальные выдуманные новости</p>
    {% for news in news_list %}
    <a href="{% url 'detailed_news' news_id=news.id %}" class="text-decoration-none">
        <div class="card my-4 text-start">
            <h4 role="news-title">{{news.title}}</h4>
            <p class="py-0 mb-0" role="news-summary">{{news.summary}}</p>
            <div class="text-end fst-italic pt-4">
                {{news.date}}
            </div>
        </div>
    </a>
    {% empty %}
        <div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 60vh;">
            <h2 class="display-1 mb-3">🤔</h2>
            <h2 class="mb-2">Новостей пока нет</h2>
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        <a href="{% url 'home' page_id=prev_page %}" class="text-decoration-none mx-4" role="pag" style="color: lightgray;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>
        <div>{{ page_id }}</div>
        <a href="{% url 'home' page_id=next_page %}" class="text-decoration-none mx-4" role="pag" style="color: lightgray;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </a>
    </div>
{% endblock %}