{% extends "base.html" %}

{% block title %}Успешно{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="text-start my-5">
            <h2 class="">{{ news.title }}</h2>
            <div class="text-end fst-italic mb-5">
                {{ news.date }}
            </div>
            <div class="card mb-3">
                {{ news.summary }}
            </div>
            <div class="card">
                {{ news.content }}
            </div>
        </div>
    </div>
{% endblock %}