{% extends "base.html" %}

{% block title %}Успешно{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="alert alert-success text-start" role="alert">
            <h4 class="alert-heading">Успешно!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <div class="container px-0">
                <div class="row justify-content-between align-items-center">
                    <p class="col-9 mb-0 text-start">Скорее вернитесь, чтобы увидеть свою новость в ленте</p>
                    <a class="col text-center" href="{% url 'home' page_id=1 %}">Назад</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}